:root {
  --font-family: 'Montserrat', sans-serif;
  --regular: 400;
  --bold: 700;
  --primary-color: #ff0066;
  --secondary-color: #333333;
  --background-color: #fafafa;
  --code-text-color: #f8f8f8;
  --code-background-color: #424242;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--secondary-color);
}

body * {
  box-sizing: inherit;
}

/************************************
********* Degradado *****************
*************************************/
li:nth-child(1) {
  background-color: #171a1c;
}

li:nth-child(2) {
  background-color: #29363d;
}

li:nth-child(3) {
  background-color: #365363;
}

li:nth-child(4) {
  background-color: #3d728f;
}

li:nth-child(5) {
  background-color: #4093bf;
}

li:nth-child(6) {
  background-color: #5cabd6;
}

li:nth-child(7) {
  background-color: #7dc3e8;
}

li:nth-child(8) {
  background-color: #a3d8f5;
}

li:nth-child(9) {
  background-color: #cfecfc;
}

li:nth-child(10) {
  background-color: white;
}

ul {
  display: flex;
  padding: 0;
}

li {
  list-style: none;
  flex-grow: 1;
  height: 50px;
}

/************************************
****Creador de selectores en Loop****
*************************************/
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.ml-0 {
  margin-left: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-0 {
  margin-right: 0;
}

.m-8 {
  margin: 0.5rem;
}

.mt-8 {
  margin-top: 0.5rem;
}

.ml-8 {
  margin-left: 0.5rem;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.mr-8 {
  margin-right: 0.5rem;
}

.m-16 {
  margin: 1rem;
}

.mt-16 {
  margin-top: 1rem;
}

.ml-16 {
  margin-left: 1rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.mr-16 {
  margin-right: 1rem;
}

.m-24 {
  margin: 1.5rem;
}

.mt-24 {
  margin-top: 1.5rem;
}

.ml-24 {
  margin-left: 1.5rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.mr-24 {
  margin-right: 1.5rem;
}

.m-32 {
  margin: 2rem;
}

.mt-32 {
  margin-top: 2rem;
}

.ml-32 {
  margin-left: 2rem;
}

.mb-32 {
  margin-bottom: 2rem;
}

.mr-32 {
  margin-right: 2rem;
}

.m-40 {
  margin: 2.5rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.ml-40 {
  margin-left: 2.5rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.mr-40 {
  margin-right: 2.5rem;
}

.m-48 {
  margin: 3rem;
}

.mt-48 {
  margin-top: 3rem;
}

.ml-48 {
  margin-left: 3rem;
}

.mb-48 {
  margin-bottom: 3rem;
}

.mr-48 {
  margin-right: 3rem;
}

.p-0 {
  margin: 0;
}

.pt-0 {
  margin-top: 0;
}

.pl-0 {
  margin-left: 0;
}

.pb-0 {
  margin-bottom: 0;
}

.pr-0 {
  margin-right: 0;
}

.p-8 {
  margin: 0.5rem;
}

.pt-8 {
  margin-top: 0.5rem;
}

.pl-8 {
  margin-left: 0.5rem;
}

.pb-8 {
  margin-bottom: 0.5rem;
}

.pr-8 {
  margin-right: 0.5rem;
}

.p-16 {
  margin: 1rem;
}

.pt-16 {
  margin-top: 1rem;
}

.pl-16 {
  margin-left: 1rem;
}

.pb-16 {
  margin-bottom: 1rem;
}

.pr-16 {
  margin-right: 1rem;
}

.p-24 {
  margin: 1.5rem;
}

.pt-24 {
  margin-top: 1.5rem;
}

.pl-24 {
  margin-left: 1.5rem;
}

.pb-24 {
  margin-bottom: 1.5rem;
}

.pr-24 {
  margin-right: 1.5rem;
}

.p-32 {
  margin: 2rem;
}

.pt-32 {
  margin-top: 2rem;
}

.pl-32 {
  margin-left: 2rem;
}

.pb-32 {
  margin-bottom: 2rem;
}

.pr-32 {
  margin-right: 2rem;
}

.p-40 {
  margin: 2.5rem;
}

.pt-40 {
  margin-top: 2.5rem;
}

.pl-40 {
  margin-left: 2.5rem;
}

.pb-40 {
  margin-bottom: 2.5rem;
}

.pr-40 {
  margin-right: 2.5rem;
}

.p-48 {
  margin: 3rem;
}

.pt-48 {
  margin-top: 3rem;
}

.pl-48 {
  margin-left: 3rem;
}

.pb-48 {
  margin-bottom: 3rem;
}

.pr-48 {
  margin-right: 3rem;
}

/************************************
************** Buttons ***************
*************************************/
.wrapper button {
  background-color: #fff;
  border: 0;
  margin: 5px;
  padding: 20px;
  cursor: pointer;
}

.wrapper {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
}

.wrapper button {
  flex-basis: 23%;
}

.wrapper button a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */